body {
    background-color: #727779;
    margin: 0;
    padding: 0; 
  }
  

.dashboard-section {
    text-align: center;
  }
  
  .dashboard-title {
    margin-bottom: 20px;
  }
  
  .dashboard-content {
    display: flex;
    justify-content: space-between;
  }
  
  .dashboard-ships {
    background-color: #FFA07A;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    overflow-y: auto;
  }
  
  .dashboard-ship {
    background-color: #F08080;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dashboard-ship-info {
    margin-right: 10px;
  }
  
  .ship-symbol {
    font-weight: bold;
    font-size: 18px;
  }
  
  .ship-details-link {
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
  }


  
  .dashboard-logout,
  .dashboard-money,
  .dashboard-cargo {
    background-color: #FFD700;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-logout {
    float: left;
  }

  .dashboard-ships {
    overflow-y: auto;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  