/* achat.css */

.page {
    padding: 20px;
  }
  
  .achat-section {
    text-align: center;
  }
  
  .achat-title {
    color: #f8f4f4;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .achat-credits-text {
    font-size: 18px;
    color: #0abd10;
  }
  
  .vaisseau-container {
    display :flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    text-align: center;
    
  }
  
  .achat-shipyard-container {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(24, 137, 47, 0.1);
    text-align: center;
    flex: 1 1 200px;
  }
  
  .achat-ship-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px; /* Ajout de flex pour ajuster la largeur des conteneurs */
    display: flex;
    justify-content: center;
    
  }
  
  .achat-ship {
    margin: 20px;
    padding: 20px;
    border: 2px solid #c23d23;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px; /* Ajout de flex pour ajuster la largeur des conteneurs */
    background-color: #977222;
    width: 40%;
    justify-content: center;
    right: 30px;

  }
  
  .achat-name {
    font-size: 20px;
    font-weight: bold;
    color: #efe4e4;
  }
  
  .achat-type {
    margin: 10px 0;
    font-size: 16px;
    color: #efe4e4;
  }
  
  .achat-description {
    font-size: 14px;
    color: #efe4e4;
  }
  
  .achat-modules {
    font-size: 14px;
    color: #1fb395;
  }
  
  .achat-price {
    margin-top: 10px;
    font-size: 18px;
    color: #cdc0bd;
  }
  
  .achat-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .achat-btn:hover {
    background-color: #0b7dda;
  }
  