/* Header.css */

.header-container {
    background-color: #222;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    font-size: 24px;
  }
  
  .header-links {
    display: flex;
    gap: 20px;
  }
  
  .header-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-link svg {
    margin-bottom: 5px;
  }
  
  .header-made {
    margin: 0;
  }
  
  .header-made img {
    width: 50px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
  }
  